<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>
      mobile store
    </title>
</head>
<style>
  .ex{
	background-image: url('https://www.soyacincau.com/wp-content/uploads/2019/09/C0002.MP4Master.00_04_53_02.Still007.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
}
</style>

<body  style="padding-top: 60px" >
