<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>
      Mobile Store
    </title>
</head>
<style>
  .ex{
	background-image: url('https://www.soyacincau.com/wp-content/uploads/2019/09/C0002.MP4Master.00_04_53_02.Still007.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
}
</style>

<body  style="padding-top: 60px" >
