<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.jsdt.js.node.NodeLaunchConfigurationType">
<stringAttribute key="attr_app_arguments" value=""/>
<stringAttribute key="attr_app_path" value="${workspace_loc:/RemoteSystemsTempFiles/.project}"/>
<stringAttribute key="attr_app_project" value="RemoteSystemsTempFiles"/>
<stringAttribute key="attr_node_arguments" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RemoteSystemsTempFiles"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_STDIN_FILE" value="C:\Users\Yash Jaiswal\webd\mobile store\v1\app.js"/>
</launchConfiguration>
